body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fdfdf6;

}

.container-fluid {
  padding: 3% 15% 7%;
}

H1 {
  font-family: 'Baloo Chettan', cursive;
  font-size: 3.5rem;
  line-height: 1.5;

}
h2 {
  font-family:'Baloo Chettan', cursive;

  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Baloo Chettan', cursive;
  font-size: 1.5rem;
}
p {
  color:#8f8f8f;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu"; /*没有实现Poppins字体?? */
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"; /*设置字体为Montserrat-Light无效*/
}
/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Tittle Image */
.tittle-image {
  width: 60%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;


}

/* Fectures section */
#features {
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;  /*这里的z-index 可以设置也可以不设置，因为按照网页顺序，后面的自然会覆盖前面的内容 */
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color:#ff4c68;
}
/* Testimonials Section */
#testimonials {
  text-align: center;

  background-color:#ff4c68;
  color:#fff;
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item {
  padding: 5% 20%;
}
#press {
  background-color:#ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.logo-img {
  width: 10%;
  margin: 20px;
}
/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
 @media (max-width:1028px) {

  #title {
    text-align: center;
  }

  .tittle-image {
    position: static;
    transform: rotate(0);

  }

}
/* cta section */
#cta {
  background-color:#ff4c68;
  text-align: center;
  padding-top: 2%;
}
.button {
  margin: 1% 3%;
}
/* footer section */
#footer {
  background-color:#ff4c68;
  text-align: center;
  padding: 80px auto;
  font-size: 0.8rem;
}
.footer-icon {
  margin: 10px;
}
